# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

jobs:
- job: ubuntu
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
  - script: |
      sudo apt-get install -y ninja-build libinsighttoolkit4-dev
    displayName: Apt install dependencies
  - script: |
      mkdir build.debug
      mkdir build.release
    displayName: Make Build Directories
  - task: CMake@1
    inputs:
      workingDirectory: 'build.debug'
      cmakeArgs: '-G Ninja -DCMAKE_BUILD_TYPE=Debug ..'
  - task: CMake@1
    inputs:
      workingDirectory: 'build.release'
      cmakeArgs: '-G Ninja -DCMAKE_BUILD_TYPE=Release ..'
  - script: |
      cd build.debug
      ninja
    displayName: 'Run ninja, debug'
  - script: |
      cd build.debug
      ctest
    displayName: 'Run tests, debug'
  - script: |
      cd build.release
      ninja
    displayName: 'Run ninja, release'
  - script: |
      cd build.release
      ctest
    displayName: 'Run tests, release'
- job: macos
  pool:
    vmImage: 'macOS-10.13'
  steps:
  - script: |
      brew tap bathomas/homebrew-bat
      brew install ninja insighttoolkit
    displayName: Brew install dependencies
  - script: |
      mkdir build.debug
      mkdir build.release
    displayName: Make Build Directories
  - task: CMake@1
    inputs:
      workingDirectory: 'build.debug'
      cmakeArgs: '-G Ninja -DCMAKE_BUILD_TYPE=Debug ..'
  - task: CMake@1
    inputs:
      workingDirectory: 'build.release'
      cmakeArgs: '-G Ninja -DCMAKE_BUILD_TYPE=Release ..'
  - script: |
      cd build.debug
      ninja
    displayName: 'Run ninja, debug'
  - script: |
      cd build.debug
      ctest
    displayName: 'Run tests, debug'
  - script: |
      cd build.release
      ninja
    displayName: 'Run ninja, release'
  - script: |
      cd build.release
      ctest
    displayName: 'Run tests, release'
- job: Windows_VS2015_x64
  pool:
      vmImage: 'vs2015-win2012r2'
  steps:
    - script: |
        git clone https://github.com/microsoft/vcpkg
        .\vcpkg\bootstrap-vcpkg.bat
        .\vcpkg\vcpkg.exe update
      displayName: Bootstrap vcpkg
    - script: .\vcpkg\vcpkg.exe install itk --triplet x64-windows
      displayName: vcpkg install dependencies
    - script: mkdir build.common
      displayName: Make Build Directory
    - task: CMake@1
      inputs:
        workingDirectory: 'build.common'
        cmakeArgs: '-A x64 -DCMAKE_TOOLCHAIN_FILE=../vcpkg/scripts/buildsystems/vcpkg.cmake '
    - task: MSBuild@1
      inputs:
        solution: 'build.common/ALL_BUILD.vcxproj'
        maximumCpuCount: true
        platform: 'x64'
    - script: |
        cd build.common\Debug\
        ctest
      displayName: 'Run tests, debug'
    - task: MSBuild@1
      inputs:
        solution: 'build.common/ALL_BUILD.vcxproj'
        maximumCpuCount: true
        platform: 'x64'
        configuration: 'Release'
    - script: |
        cd build.common\Release\
        ctest
      displayName: 'Run tests, release'